@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Header section */

header{
    width: 100%; 
    max-width: 100%;
    padding-left: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
}

header nav a{
    color: #ffffff;
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 16px;
    transition: 0.2s;
    text-decoration: none;
}

a.active{
    background: #58a915cb;
    border-radius: 2px;
}

a:hover{
    background: #efd637cb;
    border-radius: 2px;
}

/* Header section */



/* carousel */

.carousel{
    width: 100vw;
    height: 100vh;
    margin-top: -50px;
    overflow: hidden;
    position: relative;
}

.carousel .list .item{
    width: 180px;
    height: 250px;
    position: absolute;
    top: 80%;
    transform: translateY(-70%);
    left: 70%;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
    background-position: 50% 50%;
    background-size: cover;
    z-index: 100;
    transition: 1s;
}

.carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.carousel .list .item:nth-child(3){
    left: 67%;
}

.carousel .list .item:nth-child(4){
    left: calc(67% + 200px);
}

.carousel .list .item:nth-child(5){
    left: calc(67% + 400px);
}

.carousel .list .item:nth-child(6){
    left: calc(67% + 600px);
}

.carousel .list .item:nth-child(n+7){
    left: calc(67% + 800px);
    opacity: 0;
}





.list .item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    width: 400px;
    text-align: left;
    color: #fff;
    display: none;
}

.list .item:nth-child(2) .content{
    display: block;
}

.content .title{
    font-size: 100px;
    text-transform: uppercase;
    color: #d6aa4ae3;
    font-weight: bold;
    line-height: 1;

    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content .name{
    font-size: 100px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    text-shadow: 3px 4px 4px rgba(255, 255, 255, 0.8);

    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    margin-left: 5px;

    opacity: 0;
    animation: animate 1s ease-in-out 0.9s 1 forwards;
}

.content .btn{
    margin-left: 5px;

    opacity: 0;
    animation: animate 1s ease-in-out 1.2s 1 forwards;
}

.content .btn button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid #fff;
}

.content .btn button:nth-child(1){
    margin-right: 15px;
}

.content .btn button:nth-child(2){
    background: transparent;
    color: #516e40cb;
    border: 2px solid #fff;
    transition: 0.3s;
}

.content .btn button:nth-child(2):hover{
    background-color: #516e40cb;
    color: #fff;
    border-color: #516e40cb;
}


@keyframes animate {
    
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

/* Carousel */

table {
    width: 80%; /* กำหนดความกว้างของตารางให้ 80% ของหน้าจอ */
    margin-left: auto; /* เว้นขอบด้านซ้ายให้เป็นอัตโนมัติ */
    margin-right: auto; /* เว้นขอบด้านขวาให้เป็นอัตโนมัติ */
    border-collapse: collapse;
    border-spacing: 20px 10px;
    margin-top: 25px;
    font-size: 18px;
    text-align: center;
}
th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
.editable {
    background-color: #f9f9f9;
}

/* ปุ่ม */

.button-add  {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #165e2c;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #7dae84 solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-add:hover {
  background-color: #7dae84;
  color: #fff;
}

@media (min-width: 768px) {
  .button-add {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

/* ปุ่ม save */

.button-save  {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #5a1871;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-save:hover {
    background-color: #9478a6;
    color: #fff;
  }
  
  @media (min-width: 768px) {
    .button-save {
      font-size: 1.125rem;
      padding: 1rem 2rem;
    }
  }
/* ปุ่ม lode */

.button-lode  {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #8b6f25;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #ffffff solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-lode:hover {
    background-color: #ccb893;
    color: #fff;
  }
  
  @media (min-width: 768px) {
    .button-lode {
      font-size: 1.125rem;
      padding: 1rem 2rem;
    }
  }

/* ปุ่ม pdf */

/* CSS */

    .button-pdf {
      background-color: #a11e50;
      border-radius: 100px;
      box-shadow: rgba(137, 89, 105, 0.958) 0 -25px 18px -14px inset,rgba(137, 89, 105, 0.958) 0 1px 2px,rgba(137, 89, 105, 0.958) 0 2px 4px,rgba(137, 89, 105, 0.958) 0 4px 8px,rgba(137, 89, 105, 0.958) 0 8px 16px,rgba(137, 89, 105, 0.958) 0 16px 32px;
      color: rgb(188, 163, 177);
      cursor: pointer;
      display: inline-block;
      font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
      padding: 7px 20px;
      text-align: center;
      text-decoration: none;
      transition: all 250ms;
      border: 0;
      font-size: 16px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button-pdf:hover {
      box-shadow: rgba(255, 170, 196, 0.668) 0 -25px 18px -14px inset,rgba(255, 170, 196, 0.668) 0 1px 2px,rgba(255, 170, 196, 0.668) 0 2px 4px,rgba(255, 170, 196, 0.668) 0 4px 8px,rgba(255, 170, 196, 0.668) 0 8px 16px,rgba(255, 170, 196, 0.668) 0 16px 32px;
      transform: scale(1.05) rotate(-1deg);
    }

    /* ปุ่ม ลบ*/
   
/* CSS */
.button-del {
  align-items: center;
  background-color: #688db2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-del:hover,
.button-del:focus { 
  background-color: #4a5666;
  color: #ffffff;
}

.button-del:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-del:disabled { 
  cursor: not-allowed;
  background: #ffffff;
  color: rgb(255, 255, 255);
}


/* เปลี่ยนสีข้อความทั้งหมดเป็นสีขาว */
body {
  color: white;
}



.table-container table {
  width: 100%;
  border-collapse: collapse;
  background-color: white; /* ตั้งค่าพื้นหลังของตารางเป็นสีขาว */
  border-radius: 10px; /* ทำให้ขอบมน */
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* เพิ่มเงาให้ตาราง */
}

.table-container th, 
.table-container td {
  border: 1px solid #ddd; /* ใส่เส้นขอบสีเทาอ่อน */
  padding: 10px;
  text-align: center;
}

.table-container th {
  background-color: #f4f4f4; /* พื้นหลังของหัวตาราง */
  font-weight: bold;
}

#Tree {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#Tree th, 
#Tree td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

#Tree th {
  background-color: #f4f4f4;
  font-weight: bold;
}
